*{
    box-sizing: border-box;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Antonio', sans-serif;

}
p,span{
    font-family: 'Cormorant', serif;
}
.img-fluid{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.col-md-4{
    padding: 0.5rem;
}
.card-img{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.flex{
    display: inline-flex;
    /* padding: 0.5rem; */
    text-align: left;
}
.detail{
    margin-right: 2rem;
}
.img_detail{
    /* padding: 5rem; */
    height: 100vh;
    padding-top: 1rem;
    align-items: center;
    font-size: 1.3rem;
}
.img_detail .header{
    font-size: 2rem;
}
.img_detail .card-body{
    padding: 0.6rem;
    border: 0.2rem solid silver;
    object-fit: contain;
}
.header{
    padding: 1.2rem;
    margin-bottom: 1.3rem;
    width: 100%;
    background-color: bisque;
}
