*{
    box-sizing: border-box;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Antonio', sans-serif;

}
p,span{
    font-family: 'Cormorant', serif;
}
.img-fluid{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.col-md-4{
    padding: 0.5rem;
}
.card-img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.flex{
    display: inline-flex;
    padding: 1rem;
    align-items: center;
}
.detail{
    margin-right: 2rem;
}
.img_detail{
    padding: 2rem;
    align-items: center;
}