{%extends 'galleries/base.html'%}

{% block content %}

<div class="container img_detail">
    <div class="row">
        <img src="{{image.image.url}}" class="card-img" alt="{{image.name}}">
    </div>
    
    <div class="row flex">
        <h1 class="p-5">{{image.name}}:</h1>
        <p class="p-5">{{image.description}}</p>
    </div>
    <br>


    <div class="flex">
        <p class="detail">{{image.category}}</p>
        <p class="detail">{{image.location}}</p>
        <p>Uploaded on {{image.upload_date|date:"D d/m/y"}}</p>
    </div>

</div>

{% endblock %}