{% extends 'galleries/base.html' %}
{% block content %}

<div class="container">
    {{block.super}}
    <h2 class="text-center">WELCOME TO GALLERIO <br> The virtual photo album Experience</h2>
    <div class="row">
            
        <!-- <p>Images from {{image_location.location}}</p> -->
        {% for image in image_location %}
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid"></a>
        </div>
        {% empty %}
        <div class="row">
            <h2 class="text-center">Sorry! No images to Display from this Location.</h2>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}